.dp1 {
    border: 1px solid black;
    width: 300px;
}

.link {
    cursor: pointer;
    color: blue;
}

.prev {
    text-align: left;
}

.next {
    text-align: right;
}

.header-table {
    width: 100%;
}

.today {
    font-weight: bold;
}

.selected {
    border: 1px solid blue;
}

.minimum {
    color: green;
    opacity: 0.5
}

.maximum {
    color: red;
}

.not-active {
    opacity: 0.5
}