<input type="text" value="{{ formattedDates(selectedDates) }}" />

<table class="dp1">
  <tr>
    <th colspan="10">
      <table class="header-table">
        <tr>
          <td class="prev"><a class="link" (click)="previousMonth(model.year, model.number)">Previous</a></td>
          <td>{{model.monthName.full}} {{model.year}}</td>
          <td class="next"><a class="link" (click)="nextMonth(model.year, model.number)">Next</a></td>
        </tr>
      </table>
    </th>
  </tr>
  <tr *ngFor="let week of model.weeks">
    <td *ngFor="let date of week.dates">
      <div *ngIf="date !== null">
        <a *ngIf="!date.isAdjacent && date.isActive" class="link" [ngClass]="{ 'today': date.isToday, 'selected': date.isSelected, 'minimum': date.isBelowMinimumDate, 'maximum': date.isAboveMaximumDate, 'not-active': !date.isActive }" (click)="selectDate(date.moment)">
          {{date.moment.format('DD')}}
        </a>
        <div *ngIf="(!date.isActive || date.isAdjacent)" [ngClass]="{ 'today': date.isToday, 'selected': date.isSelected, 'minimum': date.isBelowMinimumDate, 'maximum': date.isAboveMaximumDate, 'not-active': !date.isActive }">
          {{date.moment.format('DD')}}
        </div>
        <div *ngIf="date.extras !== null">
          {{date.extras}}
        </div>
      </div>
    </td>
  </tr>
</table>