<input type="text" value="{{ formattedDates(selectedDates) }}" />

<table class="dp1">
  <tr>
    <th colspan="10">
      <table class="header-table">
        <tr>
          <td class="prev"><a class="link" (click)="previousMonth(model.year, model.monthInfo.number)">Previous</a></td>
          <td>{{model.monthInfo.full}} {{model.year}}</td>
          <td class="next"><a class="link" (click)="nextMonth(model.year, model.monthInfo.number)">Next</a></td>
        </tr>
      </table>
    </th>
  </tr>
  <tr *ngFor="let days of model.weeks">
    <td *ngFor="let day of days">
      <a *ngIf="day !== null && !day.isAdjacent" class="link" [ngClass]="{ 'today': day.isToday, 'selected': day.isSelected, 'minimum': day.isMinimumDate, 'maximum': day.isMaximumDate, 'not-active': !day.isActive }" (click)="selectDate(day.moment)">
        {{day.moment.format('DD')}}
      </a>
      
      <div *ngIf="day !== null && day.isAdjacent" [ngClass]="{ 'today': day.isToday, 'selected': day.isSelected }">
        {{day.moment.format('DD')}}
      </div>
    </td>
  </tr>
</table>