<h1>
  Headless datepicker examples
</h1>

<h2>
  Range
</h2>

<h2>
  Calendar modes
</h2>

<div class="example">
  <h3>
    Single array
  </h3>
  <p>
    Return dates as a single array by providing a start date and an end date.
  </p>
  <app-range-picker [startDate]="startDate" [endDate]="endDate"></app-range-picker>
</div>


<div class="example">
  <h3>
    Fill mode
  </h3>
  <p>
    Default behaviour. Always returns seven days for each week. If a date is not in the month, it fills it a null-values.
  </p>
  <app-basic-calendar [mode]="'fill'"></app-basic-calendar>
</div>

<div class="example">
  <h3>
    Adjacent mode
  </h3>
  <p>
    Always returns seven days for each week. If a date is not in the month, it still contains the date, but isAdjacent is set to true.
  </p>
  <app-basic-calendar [mode]="'adjacent'"></app-basic-calendar>
</div>

<div class="example">
  <h3>
    Exact mode
  </h3>
  <p>
    Doesn't return seven days in a week within the month. If a day is not in the current month, it is simply not part of the array.
  </p>
  <app-basic-calendar [mode]="'exact'"></app-basic-calendar>
</div>

<div class="example">
  <h3>
    Fixed mode
  </h3>
  <p>
    Always returns seven days for each week and it always returns six weeks. It fills the adjacent month dates with days.
  </p>
  <app-basic-calendar [mode]="'fixed'"></app-basic-calendar>
</div>

<h2>
  Features
</h2>

<div class="example">
  <h3>
    Selected dates
  </h3>
  <app-basic-calendar [mode]="'fill'" [selectedDates]="selectedDates"></app-basic-calendar>
</div>


<div class="example">
  <h3>
    Minimum and maximum dates
  </h3>
  <app-basic-calendar [mode]="'fill'" [minimumDate]="minimumDate" [maximumDate]="maximumDate"></app-basic-calendar>
</div>

<div class="example">
  <h3>
    Disabled dates
  </h3>
  <app-basic-calendar [mode]="'fill'" [disabledDates]="disabledDates"></app-basic-calendar>
</div>

<div class="example">
  <h3>
    Extra data
  </h3>
  <app-basic-calendar [mode]="'fill'" [extras]="extras"></app-basic-calendar>
</div>